.modal {
  &__claim {
    background: #000000 center/ cover url("../img/modal/modal_bg_claim.png");
    width: 100%;
    max-width: 1012px;
    min-height: 560px;
    padding: 15px;
    position: relative;

    &__content {
      padding-top: 10px;
      margin-top: 80px;
    }
  }

  &__text {
    font-size: 27px;
    line-height: 26px;
    text-align: center;
    margin-top: 15px;
    @media ($media_sm) {
      font-size: 19px;
    }

    &__left {
      text-align: left;
      @media ($media_sm) {
        text-align: center;
        @media ($media_sm) {
          font-size: 16px;
        }
      }
    }

    a {
      color: #89E2F0;

      svg {
        width: 24px;
        height: 24px;
        margin-bottom: -5px;
        @media ($media_sm) {
          display: block;
          margin: 0 auto;
          margin-top: 10px;
          transform: rotate(90deg);
        }

        path {
          stroke: #ffffff;
        }
      }
    }
  }

  &__img {
    display: flex;
    position: absolute;

    &__bottom {
      bottom: 0;
    }

    &__right {
      right: 10px;
      top: 5px;
    }

    &__left {
      top: 0;
      left: 0;
    }

    &__warning {
      margin-top: 15px;
      @media ($media_sm) {
        display: none;
        margin-bottom: 30px;
      }
    }
  }

  &__calculate {
    background: #000000 center/ cover url("../img/modal/calculate_bg.png");
    width: 100%;
    max-width: 1012px;
    min-height: 560px;
    padding: 15px;
    position: relative;
    padding-top: 40px;

    .hystmodal__close {
      right: 41px;
    }

    &__content {
      padding: 10px;
      background: #1A191E;
      border-radius: 15px;
      @media ($media_sm) {
        flex-direction: column;
        text-align: center;
        padding-top: 30px;
      }
    }

    &__left {
      flex-basis: 44%;
      padding-left: 100px;
      @media ($media_sm) {
        padding-left: 0;
      }
    }

    &__right {
      flex-basis: 47%;
      @media ($media_sm) {
        margin-top: 20px;
      }
    }

    &__text {
      p {
        font-weight: 800;
        font-size: 36px;
        line-height: 106.7%;
        text-transform: uppercase;
        @media ($media_sm) {
          font-size: 25px;
        }
      }

      &__accent {
        font-weight: 800;
        color: #C83AB8;
        display: block;
      }
    }

    &__form {
      display: flex;
      background: linear-gradient(145.72deg, #E73ED2 0%, rgba(231, 62, 210, 0.34) 58.07%);
      border-radius: 10px;
      padding: 30px;
      height: 100%;
    }
  }

  &__form {
    .control__input {
      input {
        border: none;
        border-radius: 10px;
        outline: none;
        width: 100%;
      }
    }

    &__img {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 4px;
      @media ($media_sm) {
        width: 70%;
        margin: 0 auto;
      }
    }

    &__title {
      font-weight: 700;
      font-size: 24px;
      line-height: 23px;
      margin-bottom: 22px;
      text-align: center;
      @media ($media_sm) {
        font-size: 18px;
      }
    }

    &__btn {
      background: #5AC6D8;
      border-radius: 50px;
      font-weight: 700;
      font-size: 18px;
      line-height: 19px;
      text-transform: uppercase;
      padding: 15px 0;
      margin: 0 auto;
      margin-top: 27px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      max-width: 344px;
      position: relative;
      transition: .4s;
      @media ($media_sm) {
        padding: 15px 0;
        font-size: 17px;
      }

      svg {
        width: 27px;
        height: 27px;
        padding: 5px;
        background: #44B8CB;
        border-radius: 50%;
        margin-left: 20px;

        path {
          stroke: #ffffff;
        }
      }
    }
  }

}

.hystmodal__wrap {
  @media ($media_sm) {
    width: 95%;
    margin: 0 auto;
  }
}

.hystmodal__close {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23fff' stroke='%23fff' stroke-linecap='square' stroke-miterlimit='50' stroke-width='2' d='M22 2L2 22'/%3E%3Cpath fill='none' stroke='%23fff' stroke-linecap='square' stroke-miterlimit='50' stroke-width='2' d='M2 2l20 20'/%3E%3C/svg%3E");
}

.test__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.bordered__text {
  font-style: normal;
  font-weight: 800;
  font-size: 34px;
  line-height: 116.7%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 0 2px 2px #075C69;
  background: #65BCCA;
  box-shadow: 0px 8px 8px #0D4150;
  border-radius: 10px;
  padding: 15px 20px;

  @media ($media_sm) {
    font-size: 16px;
  }

  &__big {
    display: block;
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    @media ($media_sm) {
      font-size: 17px;
      margin-bottom: 5px;
    }
    line-height: 114.7%;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 2px 4px rgba(47, 71, 81, 0.5);
  }
}


.modal-quiz {
  background: rgba(12, 12, 12, 0.6);
  backdrop-filter: none;
  position: absolute;
  top: -9999px;

  &__body {
    width: 80%;
    background: #000000 center/ cover url("../img/quiz/quiz_bg.png");
    background-position: center;
    background-size: cover;
    position: relative;
    padding: 50px;
    @media ($media_sm) {
      width: 100%;
      padding: 5px;
    }

    form {
    }
  }
}

.modal-quiz.active {
  position: fixed;
  top: 0;
}


.quiz {
  &__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    @media ($media_sm) {
      flex-direction: column;
    }
  }

  &__left_part {
    width: 44%;
    @media ($media_sm) {
      width: 100%;
    }

    h3 {
      font-family: 'Gilroy';
      font-style: normal;
      font-weight: 400;
      font-size: 26px;
      line-height: 130%;
      color: #363636;
      text-align: left;
      margin-bottom: 11px;
      @media ($media_sm) {
        font-size: 20px;
      }
    }

    p {
      font-weight: 500;
      font-size: 18px;
      line-height: 130%;
      color: #363636;
      text-align: left;
      padding-bottom: 100px;
      @media ($media_sm) {
        padding-bottom: 20px;
        font-size: 15px;
      }
    }

    img {
      @media ($media_sm) {
        max-width: 55%;
        margin-bottom: 20px;
      }
    }
  }

  &__right_part {
    width: 44%;
    text-align: left;
    @media ($media_sm) {
      width: 100%;
      padding-bottom: 30px;
    }
    //font-family: "Gotham Pro";
    h3 {
      font-size: 26px;
      margin-bottom: 20px;

      &:first-child {
        margin-bottom: 5px;
      }

      @media ($media_sm) {
        font-size: 20px;
      }
    }

    p {
      font-weight: 500;
      font-size: 16px;
      line-height: 130%;
      @media ($media_sm) {
        font-size: 14px;
      }
    }
  }

  &__btn {
    border: 2px solid #2C9EB1;
    background: #2C9EB1;
    box-shadow: -20px 60px 70px rgba(0, 129, 201, 0.2), 0px 30px 60px rgba(0, 129, 201, 0.5), 0px 0px 40px rgba(0, 0, 0, 0.62);
    border-radius: 50px;
    color: #ffffff;
    //text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;

    &_end {
      margin-top: 0;
      box-shadow: 0 5px 40px #99F1FF;
    }

    &:hover {
      box-shadow: none;
      background: #3ac2d9;
    }
    span{
      @media ($media_sm) {
        margin-top: 4px;
      }
    }

    svg {
      background: #2693A5;
      border-radius: 50%;
      width: 25px;
      height: 25px;
      padding: 5px;

      path {
        stroke: #fff;
      }
    }
  }

  &__group {
    &_radio {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: self-start;
      margin-top: 42px;
      @media ($media_sm) {
        margin-top: 20px;
        flex-direction: column;
      }
    }
  }

  &__prev {
    width: 51px;
    height: 51px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #E7E7E7;
    border-radius: 50%;

    flex-shrink: 0;

    &:hover {
      box-shadow: none;
      cursor: pointer;
      border-color: #2C9EB1;

      svg {
        path {
          stroke: #2C9EB1;
        }
      }
    }

    svg {
      transform: rotate(180deg);
    }
  }

  &__next {
    background: #2C9EB1;
    box-shadow: 0 5px 40px #99F1FF;
    border-radius: 50px;
    padding: 17px 50px;
    text-transform: uppercase;
    font-family: 'FuturaPT';
    height: 50px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 16px;
    margin-left: 30px;

    &:hover {
      box-shadow: none;
      cursor: pointer;
    }

    svg {
      margin-left: 10px;
    }
  }

  &__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: self-end;
    padding: 50px;
    @media ($media_sm) {
      flex-direction: column;
      padding: 10px;
      padding-bottom: 30px;
      align-items: center;
    }
  }

  &__logo {
    width: 60px;
    height: 70px;
    @media ($media_sm) {
      width: 40px;
      height: 45px;
    }
  }

  &__title {
    height: 83px;
    color: #363636;
    overflow: hidden;
    @media ($media_sm) {
      height: auto;
      font-size: 20px;
    }
  }

  &__form {
    &__header {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 50px;
      @media ($media_sm) {
        padding: 5px;
        justify-content: space-between;
      }
    }

    &__first {
      padding-bottom: 100px;
      @media ($media_sm) {
        padding-bottom: 20px;
      }
    }

    &__content {
      padding: 0 50px;
      @media ($media_sm) {
        padding: 10px;
      }
    }

    &_white {
      background: #ffffff;
      box-shadow: 0 4px 30px rgb(255 255 255 / 58%);
    }
  }

  &__close {
    position: absolute;
    top: 60px;
    right: 60px;
    @media ($media_sm) {
      position: relative;
      top: auto;
      right: auto;
    }

    img {
      width: 25px;
      height: 35px;
    }
  }
}

.wrapper__checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  line-height: 15px;
  color: #6D6D6D;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-top: 23px;

  &__white {
    color: #ffffff;
  }
}

/* скрываем дефолтный флажок */
.wrapper__checkbox .check-highload {
  position: absolute;
  opacity: 0;
}

/* Создаем кастомный checkbox */
.highload2 {
  position: absolute;
  top: 0;
  left: 0;
  height: 28px;
  width: 28px;
  background-color: #eee;
  border-radius: 4px;
  @media ($media_sm) {
    height: 18px;
    width: 18px;
  }
}

/* При наведении указателя мыши перекрашиваем */
.wrapper__checkbox:hover .check-highload ~ .highload2 {
  background-color: #ccc;
}

/* Когда отмечен, то красим в зеленый цвет */
.wrapper__checkbox .check-highload:checked ~ .highload2 {
  background-color: #2C9EB1;
}

/* Создаем когда отмечено (не видно, когда не отмечено) */
.highload2:after {
  content: "";
  position: absolute;
  display: none;
}

/* Показываем когда отмечен */
.wrapper__checkbox .check-highload:checked ~ .highload2:after {
  display: block;
}

/* Стили индикатора */
.wrapper__checkbox .highload2:after {
  left: 10px;
  top: 5px;
  width: 8px;
  height: 15px;
  border: solid white;
  border-width: 0 4px 4px 0;
  border-radius: 2px;
  transform: rotate(45deg);
  @media ($media_sm) {
    left: 5px;
    top: 1px;
    width: 8px;
    height: 13px;
    border: solid white;
    border-width: 0 3px 3px 0;
    border-radius: 2px;
    transform: rotate(45deg);
  }
}

.control__input {
  input {
    border: 1px solid #6D6D6D;
    border-radius: 6px;
    color: #6D6D6D;
    padding: 21px 40px;
    min-width: 365px;
    margin-bottom: 20px;
    @media ($media_sm) {
      width: 100%;
      min-width: 200px;
      padding: 11px 20px;
    }
  }

  button {
    min-width: 365px;
    @media ($media_sm) {
      width: 100%;
      min-width: 200px;
    }
  }
}

.progressbar {
  position: relative;
  max-width: 500px;
  width: 100%;
  height: 6px;
  background: #D9D9D9;
  border-radius: 6px;
  margin-bottom: 10px;
  @media ($media_sm) {
    width: 80%;
    min-width: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

span.progress {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 1%;
  border-radius: 6px;
  background: #2C9EB1;
  transition: all .9s;
}

.wrapper_percent {
  position: absolute;
  left: 0;
  top: -30px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;
  color: #6D6D6D;
}

.digit__percent {
  font-size: 13px;
  line-height: 130%;
  color: #2C9EB1;
  font-weight: 600;
}

.radio {
  padding: 16px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  width: 48%;
  text-align: left;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  @media ($media_sm) {
    width: 100%;
    padding: 10px;
  }
}

.form-input {
  width: 100%;
  border: 1px solid #ddd;
  border-radius: .5rem;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
  padding: 1rem;
  box-sizing: border-box;
  color: var(--text-color);
  transition: ease-in-out .3s all;
}

.form-input::placeholder {
  color: #cbd5e1;
}

.form-input:focus {
  outline: none;
  border-color: var(--color-1);
}

.btn:focus-within,
.form-input:focus-within {
  box-shadow: #f8fafc 0px 0px 0px 2px, #c7d2fe 0px 0px 0px 6px, #0000 0px 1px 2px 0px;
}

textarea.form-input {
  min-height: 150px;
}

.btn {
  border: 0;
  background: var(--color-1);
  padding: 1rem;
  border-radius: 25px;
  color: white;
  cursor: pointer;
}

.btn[disabled] {
  opacity: .5;
  pointer-events: none;
}

.btn:hover {
  background: var(--color-1-hover);
  transition: ease-in-out .3s all;
}

.btn-submit {
  background-color: var(--color-2);
}

.btn-submit:hover {
  background-color: var(--color-2-hover);
}

.pagination {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination .btn {
  width: 100%;
  text-align: center;
  margin: 0 6px;
}

.tab-status {
  display: flex;
  align-items: center;
}

.tab-status span {
  appearance: none;
  background: var(--status-btn-bg);
  border: none;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  margin-right: .5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tab-status span.active {
  background-color: var(--color-2);
  color: white;
}

.hidden {
  display: none !important;

  &__mob {
    display: flex !important;
    @media ($media_sm) {
      display: none !important;
    }
  }

  &__desktop {
    display: none !important;
    @media ($media_sm) {
      display: flex !important;
    }
  }
}

/* для элемента input c type="radio" */
.custom-radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

/* для элемента label связанного с .custom-radio */
.custom-radio + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  color: #363636;
  @media ($media_sm) {
    font-size: 13px;
  }
}

/* создание в label псевдоэлемента  before со следующими стилями */
.custom-radio + label::before {
  content: '';
  display: inline-block;
  width: 21px;
  height: 21px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid transparent;
  background: #E6E6E6;
  border-radius: 50%;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  @media ($media_sm) {
    margin-right: 0.8em;
  }
}

/* стили при наведении курсора на радио */
.custom-radio:not(:disabled):not(:checked) + label:hover::before {
  box-shadow: 0 0 4px 1px rgba(44, 158, 177, 0.5);
  cursor: pointer;
}

/* стили для активной радиокнопки (при нажатии на неё) */
.custom-radio:not(:disabled):active + label::before {
  box-shadow: 0 0 4px 1px rgba(44, 158, 177, 0.5);
}

/* стили для радиокнопки, находящейся в фокусе */
.custom-radio:focus + label::before {
  box-shadow: 0 0 4px 1px rgba(44, 158, 177, 0.5);
}

/* стили для радиокнопки, находящейся в фокусе и не находящейся в состоянии checked */
.custom-radio:focus:not(:checked) + label::before {
  box-shadow: 0 0 4px 1px rgba(44, 158, 177, 0.5);
}

/* стили для радиокнопки, находящейся в состоянии checked */
.custom-radio:checked + label::before {
  background-color: #E6E6E6;
  box-shadow: 0 0 4px 1px rgba(44, 158, 177, 0.5);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='4' fill='%232C9EB1'/%3e%3c/svg%3e");
}

/* стили для радиокнопки, находящейся в состоянии disabled */
.custom-radio:disabled + label::before {
  background-color: #e9ecef;
}
